@mixin btn-solid ($btnSize, $btnBG, $btnColor){
    width: $btnSize;
    background-color: $btnBG;
    color: $btnColor;
    border: 2px solid $btnBG;
    display: flex; 
}
@mixin btn-border ($btnSize, $btnColor){
    width: $btnSize;
    background-color: transparent;
    color: $btnColor;
    border: 2px solid $btnColor;
    display: flex;     
}
@mixin btn-borderless ($btnSize, $btnColor){
    width: $btnSize;
    background-color: transparent;
    border: none;
    color: $btnColor;
    display: flex;     
}
@mixin typo-style{
    padding: 10px;
    text-align: center;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center; 
}
// BOTON PRIMARIO
// fondo azul con letras blancas. Existe en S-fitcontent Y L-100%
.btn-primario-s{
    @include btn-solid(fit-content, $blue-color, $white-color);
    @include typo-style;
}
.btn-primario-s:hover{
    background-color: $white-color;
    color: $blue-color;
    border: 2px solid $blue-color;
}

.btn-primario-s:disabled{
    background-color: $white-color;
    color: $grey-c-color;
    border: 2px solid $grey-c-color;
}
.btn-primario-l{
    @include btn-solid(100%, $blue-color, $white-color);
    @include typo-style;
}
.btn-primario-l:hover{
    background-color: $white-color;
    color: $blue-color;
    border: 2px solid $blue-color;
}

// BOTON SECUNDARIO
// fondo transp. con borde y letras azules. Existe en S-fitcontent Y L-100%
.btn-secundario-s {
    @include btn-border(fit-content, $blue-color);
    @include typo-style;

    // Asegurar que el color del ícono sea el mismo que el texto por defecto
    span.material-symbols-outlined {
        color: inherit;
    }
}
// Cambios de estilo para hover y focus
.btn-secundario-s:hover, .btn-secundario-s:focus {
    background-color: $blue-color;
    color: $white-color;
    // Cambiar el color del ícono a blanco en hover y focus
    span.material-symbols-outlined {
        color: inherit;
    }
}
// Estilos para el botón deshabilitado
.btn-secundario-s.disabled {
    background-color: $white-color;
    color: $grey-c-color;
    border: 2px solid $grey-c-color;
    span.material-symbols-outlined {
        color: $grey-c-color;
    }
}

.btn-secundario-l{
    @include btn-border(100%, $blue-color);
    @include typo-style;
}
.btn-secundario-l:hover{
    background-color: $blue-color;
    color: $white-color;
    border: 2px solid $blue-color;   
}

//BOTON SECUNDARIO SIN BORDE
.btn-secundario-ghost{
    @include btn-borderless(fit-content, $blue-color);
    @include typo-style;
    font-size: 16px;
    font-weight: 600;
}
.btn-secundario-ghost:hover{
    background-color: $blue-color;
    color: $white-color;
    font-weight: 400;
}

// BOTON TERCIARIO
// fondo transp. con borde y letras rojas
.btn-terciario{
    @include btn-border(fit-content, $dark-red);
    @include typo-style;
    text-decoration: underline;
    border-radius: 4px;
}
.btn-terciario:hover{
    background-color: $dark-red;
    color: $white-color;
    border: 2px solid $dark-red;   
}

// BOTON TERCIARIO SIN BORDE
// fondo transp. con hover y letras rojas
.btn-terciario-ghost{
    @include btn-border(fit-content, $dark-red);
    @include typo-style;
    border-radius: 4px;
    border: none;
}
.btn-terciario-ghost:hover{
    background-color: $dark-red;
    color: $white-color;
    border:none;
}

// BOTON DANGER
//fondo rojo con letras blancas
.btn-danger{
    @include btn-solid(fit-content, $dark-red, $white-color);
    @include typo-style;
}
.btn-danger:hover{
    background-color: $white-color;
    color: $dark-red;
    border: 2px solid $dark-red;
}

//BOTON CLOSE
.btn-close{
    @include btn-borderless(fit-content, $grey-a-color);
    @include typo-style;
    font-size: 16px;
    font-weight: 600;
}
.btn-close:hover{
    background-color: grey-light-color;
}

.btn-sidebar {
    display: flex;
    padding: 0px 15px;
    justify-content: center;
    height: 48px;
    align-items: center;
    gap: 10px;
    border: 1px solid $blue-color;
    background-color: $white-color;
    color:$blue-color; 
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.btn-sidebar{ 
    width: 248px;
    &:hover, &:focus {
      background-color: $blue-color;
      color: $white-color;
      border: 3px solid $light-blue;
    }
  }
  
  .btn-logout {
  display: flex;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  border: 1px solid $dark-red;
  background-color: $white-color;
  color:$dark-red; 
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  &:hover, &:focus {
    border: 1px solid $dark-red;
    background-color: $dark-red;
    color:$white-color; 
    }
  }

// Estilos específicos para el ícono cuando no es hover ni focus
span.material-symbols-outlined {
    align-self: center;
    font-variation-settings: 'FILL' 2, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

// Estilo específico para el ícono en el botón con id #btn
#btn span.material-symbols-outlined {
    color: inherit;
}