// PALETA DE COLOR
// Pasar a esta seccio los que vayamos usando:
$primary-color: #006FB3;
$blue-color: #0F69C4;
$tertiary-color: #001C41;
$dark-red:#871a1a;
$grey-a-color: #373737;
$grey-b-color: #8a8a8a;
$grey-c-color:#656565;
$grey-light-color:#BBBBBB;
$grey-light-a:#697077;
$grey-light-b:#F2F4F8; 
$white-color: #FFF;
$neutral-color: #EEEEEE;
$error-red: #E85656;

// Aqui estan todos los colores de la paleta anterior:
$secondary-color: #E22C2C;
$grey-color: #363636;
$grey-d-color:#F8F8F8; 
$grey-e-color:#DDE1E6; 
$alert-danger:#F56B0F;
$success-color: #006636; 
$light-blue:#3f87d0;
$dark-black:#1c1a1a ;
$dark-blue:#093F75;
$blue-sky:#CFE1F3;  
$accent-color: #A8B7c7;
$black-color: #111111;
$dark-grey:#21272A; 
$blue-marine:#334967; 