@mixin deco-line ($widthsize, $bgcolor){
  width: $widthsize;
  height: 8px;
  background-color: $bgcolor;
}
#lineBlue {
  @include deco-line(58px, #0f69c4);
}
#lineRed {
  @include deco-line(82px, $secondary-color);
}


.line{
  width: 80%;
  height: 3px;
  display: flex;
}
.blue{
  width: 50%;
  height: 100%;
  background-color: $primary-color;
}
.red{
  width: 50%;
  height: 100%;
  background-color: $secondary-color;
}

.white-line{
  background-color: $white-color;
}
.neutral-line{
  background-color: $neutral-color;
}

.badge-activo{
background-color: $blue-color;
color:$white-color
}

.check{
  width: 20px;
  height: 20px;
}
.badge-inactivo{
background-color: $grey-c-color;
}

.badge-type {
align-self: flex-start;
background-color: $blue-sky;
border-radius: 5px;
padding:4px; 
}

.circle-color-blue{
  width: 16px;
height: 16px;
background-color: $blue-color;
border-radius: 50%;
}


.circle-color-light-blue{
  width: 16px;
height: 16px;
background-color: $blue-sky;
border-radius: 50%;
}




@mixin badge-status ($bg, $color) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $bg;
  color:$color; 
  padding:4px 8px 4px 8px; 
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px; 
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

}

.badge-status-finish{
  @include badge-status($blue-color,$white-color )  
}

.badge-status-review{

@include badge-status($blue-marine,$white-color )
}

.badge-status-pending{
  @include badge-status($grey-light-color,$grey-a-color )
}

.badge-status-warning{
  @include badge-status($alert-danger,$white-color); 
}

.badge-percent {
  background:$grey-light-b;
  color: $dark-grey;
  border-radius: 15px;
  text-align: center;
}

.badge-percent-b {
  background:$grey-light-a;
  color: $white-color;
  border-radius: 15px;
  text-align: center;
}

.input-success {
  border: 2px solid $success-color;
}

.subrayado{
  background-color:$blue-sky;
  height: 40px;
  padding-top: 8px;
}

.border-gris{
  border: 1px solid $grey-light-color; 
  border-radius: 4px;
  color:$grey-c-color; 
  background-color: $white-color;
}

//alertas regiones 

.message-container {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.message{
  background-color: $blue-sky;
  color: $blue-color;
}
.message-container-favorable {
  background-color: $success-light;
  color:$success-color;
}

.message-container-parcial {
  background-color: $orange-ligth;
  color: $alert-danger;
}

.message-container-desfavorable {
  background-color: $red-light;
  color:$dark-red;
}

.rdl-filter, .rdl-control {
  font-size: 18px !important;
  padding: 8px 6px;

} 


.react-dual-listbox button, .react-dual-listbox select {
  font-family: inherit;
  line-height: 1.42857;
  color: $primary-color;
}

.rdl-actions {
  flex-direction: column;
  align-self: flex-end;
  width: 260px !important;
  margin: 0 10px;
}

.rdl-btn {
  padding: 5px 5px;
  margin: 0 3px;
  font-size: 16px !important;
  color: $primary-color;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.rdl-icon, .rdl-icon {
  font-family: sans-serif;
  font-weight: 900;
}
.react-dual-listbox select option:checked:focus {
  background-color: $blue-color;
  color:$white-color;
}
.react-dual-listbox select option:checked:active {
  background-color: $blue-color;
  color:$white-color;
}


.react-dual-listbox select option:checked:hover {
  background-color: $blue-color;
  color:$white-color;
}

.react-dual-listbox select option:checked {
  background-color: $blue-color;
  color: $white-color;
}