.dropdown-sidebar {
  display: flex;
  background-color: transparent;
  width: 248px;
  padding: 15px;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  vertical-align: middle;
  }


.checkbox-custom {
  display: inline-block;
  width: 15px;  
  height: 15px; 
  border: 2px solid #ccc; 
  border-radius: 3px; 
  margin-right: 10px;
  margin-left:5px; 
  vertical-align: middle;
}
.checkbox-custom:checked {
  border-color: $primary-color;
  color:$white-color;
  background-color: $primary-color;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
}


.dropdown-option {
  display: block; 
  margin-left: 2px; 
}

.hidden {
  display: none; 
}


.dropdown-option-check:hover,
.dropdown-option-check.active {
  background-color: $blue-color; 
  color:$white-color; 
}

.dropdown-option-check label {
  cursor: pointer;
}

.dropdown-ministerio {
  border-top: 1px solid $grey-b-color;
}

.dropdown-sectores {
  padding-left: 20px;
  display: none;
}
.dropdown-sectores :hover{
  background-color: $blue-color; 
  color:$white-color; 
}


.dropdown-ministerio .active + .dropdown-sectores {
  display: block;
}

.dropdown-sector {
  display: block;
  margin-bottom: 5px;
}


.dropdown-option-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.material-symbols-outlined {
  cursor: pointer; /* Opcional, si quieres que el ícono sea clickeable */
}

.dropdown-position{
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1000;
}

.dropdown-menu{
  width: 100%;
}

.input-container {
  position: relative; /* Importante para el posicionamiento del dropdown */
  width: 100%; /* Ajusta esto según el diseño */
}

.dropdown-container {
  position: absolute;
  top: 100%;  
  left: 0;
  width: 100%;  
  background-color: white;  
  border: 1px solid #ccc;  
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);  
  overflow-y: auto;  
  max-height: 300px;  
  z-index: 1000;  
}