.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  .modal.open {
    display: flex;
  }
  .modal-content {
    background: $white-color;
    border: 1px solid $blue-color;
    border-radius: 0;
    max-width:800px;
    padding: 28px 0px;
  }

  a.btn-link-fit {
    display:flex;
    width: fit-content;
    align-items: center;
    height: 48px;
    color:$blue-color; 
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px; 
    vertical-align: middle;
    text-decoration: none;
    &:hover  , &:focus  {
      color:$dark-blue; 
      background-color: $blue-sky;
    }
  }

  .blue-border{
    border: 2px solid $blue-color;
  }