.wrapper {
  display: flex;
  justify-content: start;
  margin: 1rem;
}

.stepper {
  list-style-type: none;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: relative; 

  .stepperItem {
    position: relative;
    margin-bottom: 20px; 
    
    &:last-child {
      margin-bottom: 0; 
    }

    &.next-step::before {
      background-color: $primary-color;
      border:none;  
    }
    &.next-step .stepIndex, &.next-step .material-symbols-outlined {
      color:$white-color
    }
    &.last-completed::after {
      background-color: $primary-color;
    }
  
    &.completed + .next-step::after {
      background-color: $primary-color ;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px; 
      width: 48px; 
      height: 48px;
      border-radius: 50%;
      background-color: $grey-light-color;
      text-align: center;
      line-height: 48px;
      color: $grey-a-color;
      border: 4px solid $grey-c-color; 
    }

    .stepIndex {
      position: absolute;
      top: 0;
      left: -20px; 
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-size: 20px; 
    }

    &::after {
      content: '';
      position: absolute;
      top: 45px;
      left: 0; 
      width: 4px; 
      height: 100%; 
      background-color: $grey-c-color;
    }

    i.material-symbols-outlined {
      position: absolute;
      top: 0; 
      left: -15px; 
      z-index: 2; 
      color: $white-color; 
      font-size: 38px; 
      line-height: 48px; 
    }

    &.completed::before {
      background-color: $primary-color; 
      border: none;
    }

    &.last-child::after {
      content: '';
      position: absolute;
      top: 48px;
      left: 2px; 
      height: 4px; 
      width: 24px; 
      background-color: $grey-c-color;
    }
  }
  & .stepper-line-end {
    position: absolute;
    bottom: -4px; 
    left: 15px; 
    width: 24px; 
    border-top: 4px solid $grey-c-color; 
  }
  }



.stepperContent {
  padding-left: 40px; 
}


//stepper horizontal 
$step-size: 32px; 
$step-line-height: $step-size; 
$step-border-color: $blue-color; 
$line-thickness: 2px; 

.stepper-pasos {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0; 

  .step {
    position: relative;
    text-align: center;
    width: 50%;

    .step-text {
      margin-top: 20px;
      color: $grey-a-color; 
      font-size: 16px;
      text-align: start;
      font-weight: 400;
      width: 130px;
    }

    &:not(:first-child)::before {
      content: '';
      position: absolute;
      top: calc($step-size / 2) - calc($line-thickness / 3);
      right: 102%; 
      width: 80%;
      height: $line-thickness;
      background-color: $step-border-color;
      z-index: -1;
    }

    .step-button {
      width: $step-size;
      height: $step-size;
      line-height: $step-line-height;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      
      // Estilos para los diferentes estados de los botones
      &.default {
        background-color: $white-color;
        color: $blue-color;
        border: 4px solid $step-border-color;
      }

      &.active {
        background-color: $blue-color;
        color: $white-color;
        border: $step-border-color;
      }

      &.done {
        background-color: $blue-color;
        color: $white-color;
        border: $step-border-color;
      }

      &.warning {
        background-color: rgba(249, 213, 213, 1);
        color: $dark-red;
        border: 2px solid $dark-red;
      }
    }
  }
}

//monostep 

.mono-stepper {
  display: flex;
  flex-direction: column; 
  justify-content: start; 
  align-items: center;
}


.stepper-circle {
  font-size: 20px;
  font-weight: 700;
  width: 48px; 
  height: 48px;
  background-color:$blue-color; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-color;  
}

.vertical-line {
  width: 4px; 
  height:95.5%;
  background-color: $blue-color; 
  position: absolute;
  top: 72%; 
  bottom:40%;
  left: 20%; 
}
