
//paginacion tabla con checkbox 
.custom-pagination-btn{
  border: none;
  background-color: transparent;
  color: $blue-color;
}
.custom-pagination-btn.active {
  background-color:$blue-color;
  color: $white-color;
}

//table Personas Asignadas 
.nav-underline .nav-link {
  color: $tertiary-color;
  border-bottom: 3px solid $primary-color;
  width: 200px;
}
//table Personas Asignadas 

.nav-link:hover {
  color: $primary-color;
  border-bottom: 3px solid $primary-color; 
  width: 200px;
}
.nav-link:focus {
  color: $primary-color;
  border-bottom: 3px solid $primary-color; 
  width: 200px;
}

.nav-link.actived {
  color: $primary-color;
  font-weight: 500;
  border-bottom: 3px solid $primary-color;
  width:200px
}


//tabla de evolucion gastos 
.bg-color-even {
  background-color: #f8f9fa; 
}

.bg-color-odd {
  background-color: #fff; 
}

.table td {
  padding: 10px; 
}

//valores fijos
.valor-fijo {
  background-color: $white-color;
  border: 1px solid $grey-light-color;
  color: $grey-c-color;
  border-radius: 10px;
  text-align: center;
}
