
//paginacion tabla con checkbox 
.custom-pagination-btn{
  border: none;
  background-color: transparent;
  color: $blue-color;
}
.custom-pagination-btn.active {
  background-color:$blue-color;
  color: $white-color;
}

//table Personas Asignadas 
.nav-underline .nav-link {
  color: $tertiary-color;
  border-bottom: 2px solid transparent;
}


.nav-link:hover,
.nav-link-active:hover{
  color: $primary-color;
  border-bottom: 2px solid $primary-color; 
}