.text-serif-h1 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 49px;
}

.text-serif-h2 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 31px;
  font-weight: 700;
}

.text-serif-h3 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 24px;
  font-weight: 700;
}

.text-serif-title {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.text-sans-h1 {
  font-family: "Roboto";
  color: #373737;
  font-size: 39px;
  font-weight: 500;
}

.text-sans-h1-muted {
  font-family: "Roboto";
  color: #BBBBBB;
  font-size: 39px;
  font-weight: 500;
}

.text-sans-h2 {
  font-family: "Roboto";
  color: #373737;
  font-size: 32px;
  font-weight: 500;
}

.text-sans-h2-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
}

.text-sans-h2-tertiary {
  font-family: "Roboto";
  color: #001C41;
  font-size: 32px;
  font-weight: 500;
}

.text-sans-h3 {
  font-family: "Roboto";
  color: #373737;
  font-size: 24px;
  font-weight: 500;
}

.text-sans-h3-tertiary {
  font-family: "Roboto";
  color: #001C41;
  font-size: 24px;
  font-weight: 500;
}

.text-sans-h3-greyc {
  font-family: "Roboto";
  color: #656565;
  font-size: 24px;
  font-weight: 500;
}

.text-sans-24 {
  font-family: "Roboto";
  color: #373737;
  font-size: 24px;
  font-weight: 500;
}

.text-sans-h4 {
  font-family: "Roboto";
  color: #373737;
  font-size: 23px;
  font-weight: 500;
}

.text-sans-h5 {
  font-family: "Roboto";
  color: #373737;
  font-size: 18px;
  font-weight: 400;
}

.text-sans-h5-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}

.text-sans-h5-bol {
  font-family: "Roboto";
  color: #373737;
  font-size: 18px;
  font-weight: 600;
}

.text-sans-h6 {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h6-primary {
  font-family: "Roboto";
  color: #006FB3;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h6-darkred {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h6-grey {
  font-family: "Roboto";
  color: #656565;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h6-bold {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 700;
}

.text-sans-p {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.text-sans-p-blue {
  font-family: "Roboto";
  color: #0F69C4;
  font-size: 16px;
  font-weight: 400;
}

.text-sans-p-tertiary {
  font-family: "Roboto";
  color: #001C41;
  font-size: 16px;
  font-weight: 400;
}

.text-sans-p-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

.text-sans-p-lightgrey {
  font-family: "Roboto";
  color: #BBBBBB;
  font-size: 16px;
  font-weight: 400;
}

.text-sans-p-grayc {
  font-family: "Roboto";
  color: #656565;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.text-sans-m-bold {
  font-family: "Roboto";
  color: #373737;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}

.text-sans-p-bold {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.text-sans-p-bold-darkred {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
}

.text-sans-p-bold-blue {
  font-family: "Roboto";
  color: #0F69C4;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.text-sans-p-bold-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.text-sans-b-darkred {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration-line: underline;
}

.btn-primario-s {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0F69C4;
  color: #FFF;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primario-s:hover {
  background-color: #FFF;
  color: #0F69C4;
  border: 2px solid #0F69C4;
}

.btn-primario-l {
  width: 100%;
  background-color: #0F69C4;
  color: #FFF;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primario-l:hover {
  background-color: #FFF;
  color: #0F69C4;
  border: 2px solid #0F69C4;
}

.btn-secundario-s {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #0F69C4;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-secundario-s:hover {
  background-color: #0F69C4;
  color: #FFF;
  border: 2px solid #0F69C4;
}

.btn-secundario-l {
  width: 100%;
  background-color: transparent;
  color: #0F69C4;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-secundario-l:hover {
  background-color: #0F69C4;
  color: #FFF;
  border: 2px solid #0F69C4;
}

.btn-terciario {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #871a1a;
  border: 2px solid #871a1a;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  border-radius: 4px;
}

.btn-terciario:hover {
  background-color: #871a1a;
  color: #FFF;
  border: 2px solid #871a1a;
}

.btn-terciario-ghost {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #871a1a;
  border: 2px solid #871a1a;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
}

.btn-terciario-ghost:hover {
  background-color: #871a1a;
  color: #FFF;
  border: none;
}

.btn-danger {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #871a1a;
  color: #FFF;
  border: 2px solid #871a1a;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger:hover {
  background-color: #FFF;
  color: #871a1a;
  border: 2px solid #871a1a;
}

.btn-sidebar {
  display: flex;
  padding: 0px 15px;
  justify-content: center;
  height: 48px;
  align-items: center;
  gap: 10px;
  border: 1px solid #0F69C4;
  background-color: #FFF;
  color: #0F69C4;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.btn-sidebar {
  width: 248px;
}
.btn-sidebar:hover, .btn-sidebar:focus {
  background-color: #0F69C4;
  color: #FFF;
  border: 3px solid #3f87d0;
}

.btn-logout {
  display: flex;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  border: 1px solid #871a1a;
  background-color: #FFF;
  color: #871a1a;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.btn-logout:hover, .btn-logout:focus {
  border: 1px solid #871a1a;
  background-color: #871a1a;
  color: #FFF;
}

.container-fluid {
  min-width: 900px;
}

.footer-container {
  background-color: #001C41;
}

.success-container {
  border: 1px solid #006636;
  border-radius: 4px;
  box-shadow: 2px 5px 10px #BBBBBB;
  margin-left: 10%;
}

#icon-inputSearch i.material-symbols-outlined,
#icon-inputClose i.material-symbols-outlined {
  font-size: 28px;
  justify-self: center;
  padding-top: 5px;
}

#icon-inputSearch i.material-symbols-outlined {
  color: #3f87d0;
}

#icon-inputClose i.material-symbols-outlined {
  color: #871a1a;
}

.input-container {
  position: relative;
}

.input-label {
  position: absolute;
  top: -12px; /* Ajusta distancia vertical */
  left: 10px; /* Ajusta distancia horizontal */
  background-color: #FFF;
  padding: 0 7px;
}

.input-s {
  height: 60px;
  border: 1px solid #BBBBBB;
}

.dropdown-btn {
  display: flex;
  padding: 17px;
  background-color: #FFF;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #BBBBBB;
  height: 60px;
  width: 100%;
}

.selected-option {
  border: 1px solid #BBBBBB;
  background-color: #EEEEEE;
}

.unselected-option {
  border: 1px solid #BBBBBB;
  background-color: #FFF;
}

.ghost-input {
  border: none;
  width: 100%;
}

.input-search {
  border: 2px solid #363636;
  background: #FFF;
}

.white-line {
  background-color: #FFF;
}

.neutral-line {
  background-color: #EEEEEE;
}

.badge-activo {
  background-color: #0F69C4;
  color: #FFF;
}

.badge-inactivo {
  background-color: #656565;
}

.badge-type {
  align-self: flex-start;
  background-color: #CFE1F3;
  border-radius: 5px;
  padding: 4px;
}

.check {
  width: 20px;
  height: 20px;
}

.custom-pagination-btn {
  border: none;
  background-color: transparent;
  color: #0F69C4;
}

.custom-pagination-btn.active {
  background-color: #0F69C4;
  color: #FFF;
}

.line-container {
  position: absolute;
  top: 0px;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  left: 45px;
  padding-left: 15px;
}

#lineBlue {
  width: 58px;
  height: 8px;
  background-color: #0F69C4;
}

#lineRed {
  width: 82px;
  height: 8px;
  background-color: #E22C2C;
}

.sidebar {
  display: flex;
  width: 280px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #FFF;
  align-items: center;
  flex-shrink: 0;
  top: 0%;
  padding: 16px 16px 0px 16px;
}

i.material-symbols-outlined,
span.material-symbols-outlined {
  align-self: center;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.text-link {
  color: #0F69C4;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: underline;
}
.text-link:hover, .text-link:focus {
  color: #093F75;
}

a.btn-link {
  display: flex;
  width: 248px;
  align-items: center;
  height: 48px;
  color: #0F69C4;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  text-decoration: none;
}
a.btn-link:hover, a.btn-link:focus {
  color: #093F75;
  background-color: #CFE1F3;
}

.badge-notification {
  display: flex;
  padding: 4.2px 7.8px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #871a1a;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.circle-user {
  background-color: #001C41;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  margin: 5px 15px 5px 15px;
}

#icon-user span.material-symbols-outlined {
  color: #FFF;
  font-size: 40px;
  margin-left: 2px;
}

#icon-setting span.material-symbols-outlined {
  color: #001C41;
  font-size: 24px;
  margin: 15px 12px 12px 12px;
}

.dropdown-sidebar {
  display: flex;
  background-color: transparent;
  width: 248px;
  padding: 15px;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  vertical-align: middle;
}

.white-line {
  background-color: #FFF;
}

.neutral-line {
  background-color: #EEEEEE;
}

.badge-activo {
  background-color: #0F69C4;
  color: #FFF;
}

.badge-inactivo {
  background-color: #656565;
}

.badge-type {
  align-self: flex-start;
  background-color: #CFE1F3;
  border-radius: 5px;
  padding: 4px;
}

.check {
  width: 20px;
  height: 20px;
}

.custom-pagination-btn {
  border: none;
  background-color: transparent;
  color: #0F69C4;
}

.custom-pagination-btn.active {
  background-color: #0F69C4;
  color: #FFF;
}

.line-reference {
  position: relative;
}

.logo-container {
  display: flex;
  align-items: flex-end;
}

.deco-line {
  height: 10px;
  width: 150px;
  position: absolute;
  bottom: -48px;
  left: 20px;
  display: flex;
}

.azul {
  width: 40%;
  height: 100%;
  background-color: #006FB3;
}

.rojo {
  width: 60%;
  height: 100%;
  background-color: #EB3C46;
}

.divider {
  width: 97%;
  height: 17px;
  flex-shrink: 0;
  border-bottom: 1px solid #FFF;
}

.line-container {
  position: absolute;
  top: 0px;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  left: 45px;
}

.logo-subdere {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  width: 210px;
  margin-left: 20px;
  text-decoration: none;
}

#lineBlue {
  width: 58px;
  height: 8px;
  background-color: #0f69c4;
}

#lineRed {
  width: 82px;
  height: 8px;
  background-color: #E22C2C;
}

.line {
  width: 80%;
  height: 3px;
  display: flex;
}

.blue {
  width: 50%;
  height: 100%;
  background-color: #006FB3;
}

.red {
  width: 50%;
  height: 100%;
  background-color: #E22C2C;
}/*# sourceMappingURL=styles.css.map */