@charset "UTF-8";
.text-serif-h1 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 49px;
}

.text-serif-h2 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 31px;
  font-weight: 700;
}

.text-serif-h3 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 24px;
  font-weight: 700;
}

.text-serif-title {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.text-sans-Title {
  font-family: "Roboto";
  color: #373737;
  font-size: 49px;
  font-weight: 700;
}

.text-sans-h1 {
  font-family: "Roboto";
  color: #373737;
  font-size: 39px;
  font-weight: 500;
}

.text-sans-h1-muted {
  font-family: "Roboto";
  color: #BBBBBB;
  font-size: 39px;
  font-weight: 500;
}

.text-sans-h2 {
  font-family: "Roboto";
  color: #373737;
  font-size: 32px;
  font-weight: 500;
}

.text-sans-h2-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
}

.text-sans-h2-tertiary {
  font-family: "Roboto";
  color: #001C41;
  font-size: 32px;
  font-weight: 500;
}

.text-sans-h2-grey {
  font-family: "Roboto";
  color: #656565;
  font-size: 32px;
  font-weight: 500;
}

.text-sans-h2-bold-tertiary {
  font-family: "Roboto";
  color: #001C41;
  font-size: 32px;
  font-weight: 700;
}

.text-sans-25 {
  font-family: "Roboto";
  color: #21272A;
  font-size: 25px;
  font-weight: 500;
  line-height: 31px;
}

.text-sans-h3 {
  font-family: "Roboto";
  color: #373737;
  font-size: 24px;
  font-weight: 500;
}

.text-sans-h3-tertiary {
  font-family: "Roboto";
  color: #001C41;
  font-size: 24px;
  font-weight: 500;
}

.text-sans-h3-greyc {
  font-family: "Roboto";
  color: #656565;
  font-size: 24px;
  font-weight: 500;
}

.text-sans-h3-blue {
  font-family: "Roboto";
  color: #0F69C4;
  font-size: 24px;
  font-weight: 500;
}

.text-sans-h3-bold {
  font-family: "Roboto";
  color: #21272A;
  font-size: 24px;
  font-weight: 700;
}

.text-sans-24 {
  font-family: "Roboto";
  color: #373737;
  font-size: 24px;
  font-weight: 500;
}

.text-sans-h4 {
  font-family: "Roboto";
  color: #373737;
  font-size: 23px;
  font-weight: 500;
}

.text-sans-h5 {
  font-family: "Roboto";
  color: #373737;
  font-size: 18px;
  font-weight: 400;
}

.text-sans-h5-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}

.text-sans-h5-bol {
  font-family: "Roboto";
  color: #373737;
  font-size: 18px;
  font-weight: 600;
}

.text-sans-h5-medium {
  font-family: "Roboto";
  color: #373737;
  font-size: 18px;
  font-weight: 500;
}

.text-sans-h5-medium-blue {
  font-family: "Roboto";
  color: #006FB3;
  font-size: 18px;
  font-weight: 500;
}

.text-sans-h6 {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h6-primary {
  font-family: "Roboto";
  color: #006FB3;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h6-darkred {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h6-darkblue {
  font-family: "Roboto";
  color: #001C41;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h6-green {
  font-family: "Roboto";
  color: #006636;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h6-grey {
  font-family: "Roboto";
  color: #656565;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h6-bold {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 700;
}

.text-sans-h6-bold-darkblue {
  font-family: "Roboto";
  color: #001C41;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}

.text-sans-h6-bold-green {
  font-family: "Roboto";
  color: #006636;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}

.text-sans-h6-bold-success {
  font-family: "Roboto";
  color: #006636;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}

.text-sans-h6-bold-darkred {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 14px;
  font-weight: 700;
}

.text-sans-p {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 400;
}

.text-sans-p-grey {
  font-family: "Roboto";
  color: #697077;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text-sans-p-blue {
  font-family: "Roboto";
  color: #0F69C4;
  font-size: 16px;
  font-weight: 400;
}

.text-sans-p-tertiary {
  font-family: "Roboto";
  color: #001C41;
  font-size: 16px;
  font-weight: 400;
}

.text-sans-p-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

.text-sans-p-lightgrey {
  font-family: "Roboto";
  color: #BBBBBB;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04px;
}

.text-sans-p-grayc {
  font-family: "Roboto";
  color: #656565;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.text-sans-m-bold {
  font-family: "Roboto";
  color: #373737;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}

.text-sans-m-semibold {
  font-family: "Roboto";
  color: #373737;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.text-sans-m-semibold-greyc {
  font-family: "Roboto";
  color: #656565;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.text-sans-p-semibold {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.text-sans-p-bold {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.text-sans-p-bold-darkred {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
}

.text-sans-p-bold-blue {
  font-family: "Roboto";
  color: #0F69C4;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.text-sans-p-bold-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.text-sans-b-darkred {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration-line: underline;
}

.teaxtarea-text {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 400;
}

.teaxtarea-text:disabled {
  font-family: "Roboto";
  color: #656565;
  font-size: 16px;
  font-weight: 400;
}

.teaxtarea-text::-moz-placeholder {
  font-family: "Roboto";
  color: #656565;
  font-size: 16px;
  font-weight: 400;
}

.teaxtarea-text::placeholder {
  font-family: "Roboto";
  color: #656565;
  font-size: 16px;
  font-weight: 400;
}

.btn-primario-s {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0F69C4;
  color: #FFF;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primario-s:hover {
  background-color: #FFF;
  color: #0F69C4;
  border: 2px solid #0F69C4;
}

.btn-primario-s:disabled {
  background-color: #FFF;
  color: #656565;
  border: 2px solid #656565;
}

.btn-primario-l {
  width: 100%;
  background-color: #0F69C4;
  color: #FFF;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primario-l:hover {
  background-color: #FFF;
  color: #0F69C4;
  border: 2px solid #0F69C4;
}

.btn-secundario-s-round {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #0F69C4;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border-radius: 30px;
  padding: 15px;
}
.btn-secundario-s-round span.material-symbols-outlined {
  color: #0F69C4;
}

.btn-secundario-s-round:hover, .btn-secundario-s-round:focus {
  background-color: #0F69C4;
  color: #FFF;
}
.btn-secundario-s-round:hover span.material-symbols-outlined, .btn-secundario-s-round:focus span.material-symbols-outlined {
  color: #FFF;
}

.btn-secundario-s-round.active {
  background-color: #0F69C4;
  color: #FFF;
}
.btn-secundario-s-round.active span.material-symbols-outlined {
  color: #FFF;
}

.btn-secundario-s-round.disabled {
  background-color: #656565;
  color: #FFF;
  opacity: 0.7;
  border: 2px solid #656565;
}
.btn-secundario-s-round.disabled span.material-symbols-outlined {
  color: #656565;
}

.btn-secundario-s {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #0F69C4;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}
.btn-secundario-s span.material-symbols-outlined {
  color: #0F69C4;
}

.btn-secundario-s:hover, .btn-secundario-s:focus {
  background-color: #0F69C4;
  color: #FFF;
}
.btn-secundario-s:hover span.material-symbols-outlined, .btn-secundario-s:focus span.material-symbols-outlined {
  color: #FFF;
}

.btn-secundario-s.disabled {
  background-color: #FFF;
  color: #656565;
  border: 2px solid #656565;
}
.btn-secundario-s.disabled span.material-symbols-outlined {
  color: #656565;
}

.btn-secundario-s:disabled {
  background-color: #FFF;
  color: #656565;
  border: 2px solid #656565;
}
.btn-secundario-s:disabled span.material-symbols-outlined {
  color: #656565;
}

.btn-secundario-l {
  width: 100%;
  background-color: transparent;
  color: #0F69C4;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-secundario-l:hover, .btn-secundario-l:focus {
  background-color: #0F69C4;
  color: #FFF;
  border: 2px solid #0F69C4;
}

.btn-secundario-ghost {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  color: #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}
.btn-secundario-ghost:hover, .btn-secundario-ghost:focus {
  color: #093F75;
  background-color: #CFE1F3;
}

.btn-terciario {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #871a1a;
  border: 2px solid #871a1a;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  border-radius: 4px;
}

.btn-terciario:hover {
  background-color: #871a1a;
  color: #FFF;
  border: 2px solid #871a1a;
}

.btn-terciario-ghost {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #871a1a;
  border: 2px solid #871a1a;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
}

.btn-terciario-ghost:hover {
  background-color: #871a1a;
  color: #FFF;
  border: none;
}

.btn-danger {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #871a1a;
  color: #FFF;
  border: 2px solid #871a1a;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger:hover {
  background-color: #FFF;
  color: #871a1a;
  border: 2px solid #871a1a;
}

.btn-close {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  color: #373737;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.btn-close:hover {
  background-color: grey-light-color;
}

.btn-sidebar {
  display: flex;
  padding: 0px 15px;
  justify-content: center;
  height: 48px;
  align-items: center;
  gap: 10px;
  border: 1px solid #0F69C4;
  background-color: #FFF;
  color: #0F69C4;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.btn-sidebar {
  width: 248px;
}
.btn-sidebar:hover, .btn-sidebar:focus {
  background-color: #0F69C4;
  color: #FFF;
  border: 3px solid #3f87d0;
}

.btn-logout {
  display: flex;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  border: 1px solid #871a1a;
  background-color: #FFF;
  color: #871a1a;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.btn-logout:hover, .btn-logout:focus {
  border: 1px solid #871a1a;
  background-color: #871a1a;
  color: #FFF;
}

span.material-symbols-outlined {
  align-self: center;
  font-variation-settings: "FILL" 2, "wght" 400, "GRAD" 0, "opsz" 24;
}

#btn span.material-symbols-outlined {
  color: inherit;
}

.btn_desplegables_encabezados {
  border: none;
  color: black;
  background-color: #FFF;
  padding: 4px;
}

.btn-clave-unica {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0F69C4;
  color: #FFF;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-clave-unica:hover {
  background-color: #0C549C;
}
.btn-clave-unica:focus {
  outline: 1px dashed #000000;
  outline-offset: 3px;
}

.btn-secundario-s-clear {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #0F69C4;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.btn-secundario-s-clear span.material-symbols-outlined {
  color: #0F69C4;
}

.btn-secundario-s-clear:hover {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #FFF;
  border: 2px solid #0F69C4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F69C4;
}
.btn-secundario-s-clear:hover span.material-symbols-outlined {
  color: #FFF;
}

.btn-secundario-s-clear:focus {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #0F69C4;
  border: 2px solid #093F75;
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.btn-secundario-s-clear:focus span.material-symbols-outlined {
  color: #FFF;
}

.container-fluid {
  min-width: 900px;
}

.footer-container {
  background-color: #001C41;
}

.success-container {
  border: 1px solid #006636;
  border-radius: 4px;
  box-shadow: 2px 5px 10px #BBBBBB;
  margin-left: 10%;
}

.margin-container {
  margin-left: 10%;
}

.bluesky-container {
  border: 1px solid #9FC3E7;
  border-radius: 4px;
  background-color: #CFE1F3;
}

.container-home {
  background-color: rgba(207, 225, 243, 0.35);
  min-height: 92vh;
  margin-top: 0;
  position: absolute;
  margin-left: 50px;
}

@media (min-width: 1350px) {
  .container-home {
    margin-left: 0px;
  }
}
.container-info {
  display: flex;
  height: 124px;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  background-color: #FFF;
  border: 1px solid #DDE1E6;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-competencia {
  background-color: #FFF;
  display: flex;
  width: auto;
  height: auto;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  margin-inline: 65px;
  margin-block: 30px;
  border: 1px solid #FFF;
}

#visorPDF {
  width: 100%;
  height: 450px;
}

.avance-bar {
  width: 400px;
  height: 45px;
  background-color: rgba(207, 225, 243, 0.3);
  border-radius: 4px;
  text-align: center;
}

.avance-step {
  background-color: rgba(0, 102, 54, 0.25);
  border-radius: 4px;
  position: relative;
}

.avance-step {
  background-color: rgba(0, 102, 54, 0.25);
  border-radius: 4px;
  position: relative;
}
.avance-step.incompleto {
  background-color: rgba(245, 107, 15, 0.25);
}

.campo-container {
  border: solid 1px #656565;
  border-radius: 4px;
}

.relative-container {
  position: relative;
}

.absolute-container {
  position: absolute;
  margin-left: 800px;
  z-index: 1;
}

.icono-s {
  width: 32px;
  height: 32px;
}

.icono-xs {
  width: 24px;
  height: 24px;
}

#icon-inputSearch i.material-symbols-outlined,
#icon-inputClose i.material-symbols-outlined {
  font-size: 28px;
  justify-self: center;
  padding-top: 5px;
}

#icon-inputSearch i.material-symbols-outlined {
  color: #3f87d0;
}

#icon-inputClose i.material-symbols-outlined {
  color: #871a1a;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-label {
  position: absolute;
  top: -12px; /* Ajusta distancia vertical */
  left: 10px; /* Ajusta distancia horizontal */
  background-color: #FFF;
  padding: 0 7px;
}

.input-label-blue {
  position: absolute;
  top: -12px; /* Ajusta distancia vertical */
  left: 10px; /* Ajusta distancia horizontal */
  background-color: #CFE1F3;
  padding: 0 7px;
  text-shadow: 8px 8px 8ch #fff;
}

.input-s {
  min-height: 60px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
}

.input-textarea {
  border: 1px solid #BBBBBB;
  border-radius: 5px;
}

.input-textarea-blue {
  border: 1px solid #0F69C4;
  border-radius: 5px;
  background-color: #FFF;
}

.input-costo {
  width: 112px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #BBBBBB;
  background: #EEEEEE;
  text-align: center;
}

.costo-error {
  border: 3px solid #E85656;
}

.costo-saved {
  border: 3px solid #006636;
}

.dropdown-btn {
  display: flex;
  padding: 17px;
  background-color: #FFF;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  min-height: 60px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.dropdown-btn-abierto {
  border: 1px solid #0F69C4;
  box-shadow: 0px 0px 5px #BBBBBB;
}

.dropdown-container {
  border: 1px solid #0F69C4;
  box-shadow: 0px 0px 5px #BBBBBB;
  border-radius: 5px;
  margin-top: 15px;
}

.dropdown-option {
  background-color: #FFF;
}

.dropdown-option:hover {
  background-color: #0F69C4;
  color: #FFF;
}

.selected-dropdown-option {
  background-color: #0F69C4;
  color: #FFF;
}

.selected-option {
  background-color: #FFF;
}

.unselected-option {
  background-color: #FFF;
}

.selected-option-ghost {
  border-bottom: none;
  border-top: none;
  background-color: #EEEEEE;
}

.unselected-option-ghost {
  border-bottom: none;
  border-top: none;
  background-color: #FFF;
}

.ghost-input {
  border: none;
  width: 100%;
  height: 50px;
}

.input-search {
  border: 2px solid #363636;
  background: #FFF;
}

.btn-option {
  display: flex;
  padding: 17px;
  background-color: #FFF;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #BBBBBB;
  height: 60px;
  width: 100%;
}

.btn-option:hover {
  background-color: #0F69C4;
  color: #FFF;
}

.btn-option:active {
  background-color: #0F69C4;
  color: #FFF;
}

.textarea-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.border-success {
  border-color: #006636;
}

.border-error {
  border-color: #871a1a;
}

.ck-editor__editable {
  min-height: 400px;
}

.custom-pagination-btn {
  border: none;
  background-color: transparent;
  color: #0F69C4;
}

.custom-pagination-btn.active {
  background-color: #0F69C4;
  color: #FFF;
}

.nav-underline .nav-link {
  color: #001C41;
  font-weight: 400;
  border-bottom: 3px solid #006FB3;
  width: 200px;
}

.nav-link:hover {
  color: #006FB3;
  border-bottom: 3px solid #006FB3;
  width: 200px;
}

.nav-link:focus {
  color: #006FB3;
  border-bottom: 3px solid #006FB3;
  width: 200px;
}

.nav-link.actived {
  color: #006FB3;
  font-weight: 600;
  border-bottom: 3px solid #006FB3;
  width: 200px;
}

.nav-underline.actived {
  border-bottom: 3px solid #006FB3;
}

.bg-color-even {
  background-color: #f8f9fa;
}

.bg-color-odd {
  background-color: #fff;
}

.table td {
  padding: 10px;
}

.valor-fijo {
  background-color: #FFF;
  border: 1px solid #BBBBBB;
  color: #656565;
  border-radius: 10px;
  text-align: center;
}

.line-container {
  position: absolute;
  top: 0px;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  left: 45px;
  padding-left: 15px;
}

#lineBlue {
  width: 58px;
  height: 8px;
  background-color: #0F69C4;
}

#lineRed {
  width: 82px;
  height: 8px;
  background-color: #E22C2C;
}

.sidebar {
  display: flex;
  width: 280px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #FFF;
  align-items: center;
  flex-shrink: 0;
  top: 0%;
  padding: 16px 16px 0px 16px;
}

i.material-symbols-outlined,
span.material-symbols-outlined {
  align-self: center;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.text-link {
  color: #0F69C4;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: underline;
}
.text-link:hover, .text-link:focus {
  color: #093F75;
}

a.btn-link {
  display: flex;
  width: 248px;
  align-items: center;
  height: 48px;
  color: #0F69C4;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  text-decoration: none;
}
a.btn-link:hover, a.btn-link:focus {
  color: #093F75;
  background-color: #CFE1F3;
}

.badge-notification {
  display: flex;
  padding: 4.2px 7.8px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #871a1a;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.circle-user {
  background-color: #001C41;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  margin: 5px 15px 5px 15px;
}

#icon-user span.material-symbols-outlined {
  color: #FFF;
  font-size: 40px;
  margin-left: 2px;
}

#icon-setting span.material-symbols-outlined {
  color: #001C41;
  font-size: 24px;
  margin: 15px 12px 12px 12px;
}

.dropdown-sidebar {
  display: flex;
  background-color: transparent;
  width: 248px;
  padding: 15px;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  vertical-align: middle;
}

.dropdown-container {
  max-height: 350px;
  overflow-y: auto;
}

.checkbox-custom {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 5px;
  vertical-align: middle;
}

.checkbox-custom:checked {
  border-color: #006FB3;
  color: #FFF;
  background-color: #006FB3;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
}

.dropdown-option {
  display: block;
  margin-left: 2px;
}

.hidden {
  display: none;
}

.dropdown-option-check:hover,
.dropdown-option-check.active {
  background-color: #0F69C4;
  color: #FFF;
}

.dropdown-option-check label {
  cursor: pointer;
}

.dropdown-ministerio {
  border-top: 1px solid #8a8a8a;
}

.dropdown-sectores {
  padding-left: 20px;
  display: none;
}

.dropdown-sectores :hover {
  background-color: #0F69C4;
  color: #FFF;
}

.dropdown-ministerio .active + .dropdown-sectores {
  display: block;
}

.dropdown-sector {
  display: block;
  margin-bottom: 5px;
}

.dropdown-option-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.material-symbols-outlined {
  cursor: pointer; /* Opcional, si quieres que el ícono sea clickeable */
}

.dropdown-position {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1000;
}

.dropdown-menu {
  width: 100%;
}

.collapse-regiones {
  background-color: #EEEEEE;
  padding: 15px;
}

.custom-pagination-btn {
  border: none;
  background-color: transparent;
  color: #0F69C4;
}

.custom-pagination-btn.active {
  background-color: #0F69C4;
  color: #FFF;
}

.nav-underline .nav-link {
  color: #001C41;
  font-weight: 400;
  border-bottom: 3px solid #006FB3;
  width: 200px;
}

.nav-link:hover {
  color: #006FB3;
  border-bottom: 3px solid #006FB3;
  width: 200px;
}

.nav-link:focus {
  color: #006FB3;
  border-bottom: 3px solid #006FB3;
  width: 200px;
}

.nav-link.actived {
  color: #006FB3;
  font-weight: 600;
  border-bottom: 3px solid #006FB3;
  width: 200px;
}

.nav-underline.actived {
  border-bottom: 3px solid #006FB3;
}

.bg-color-even {
  background-color: #f8f9fa;
}

.bg-color-odd {
  background-color: #fff;
}

.table td {
  padding: 10px;
}

.valor-fijo {
  background-color: #FFF;
  border: 1px solid #BBBBBB;
  color: #656565;
  border-radius: 10px;
  text-align: center;
}

.line-reference {
  position: relative;
}

.logo-container {
  display: flex;
  align-items: flex-end;
}

.deco-line {
  height: 10px;
  width: 150px;
  position: absolute;
  bottom: -48px;
  left: 20px;
  display: flex;
}

.azul {
  width: 40%;
  height: 100%;
  background-color: #006FB3;
}

.rojo {
  width: 60%;
  height: 100%;
  background-color: #EB3C46;
}

.divider {
  width: 97%;
  height: 17px;
  flex-shrink: 0;
  border-bottom: 1px solid #FFF;
}

.line-container {
  position: absolute;
  top: 0px;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  left: 45px;
}

.logo-subdere {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  width: 210px;
  margin-left: 20px;
  text-decoration: none;
}

#lineBlue {
  width: 58px;
  height: 8px;
  background-color: #0f69c4;
}

#lineRed {
  width: 82px;
  height: 8px;
  background-color: #E22C2C;
}

.line {
  width: 80%;
  height: 3px;
  display: flex;
}

.blue {
  width: 50%;
  height: 100%;
  background-color: #006FB3;
}

.red {
  width: 50%;
  height: 100%;
  background-color: #E22C2C;
}

.white-line {
  background-color: #FFF;
}

.neutral-line {
  background-color: #EEEEEE;
}

.badge-activo {
  background-color: #0F69C4;
  color: #FFF;
}

.check {
  width: 20px;
  height: 20px;
}

.badge-inactivo {
  background-color: #656565;
}

.badge-type {
  align-self: flex-start;
  background-color: #CFE1F3;
  border-radius: 5px;
  padding: 4px;
}

.badge-tipo {
  align-self: flex-start;
  background-color: #FFF;
  color: #373737;
  border: 1px solid #373737;
  border-radius: 4px;
  padding: 4px;
}

.circle-color-blue {
  width: 16px;
  height: 16px;
  background-color: #0F69C4;
  border-radius: 50%;
}

.circle-color-light-blue {
  width: 16px;
  height: 16px;
  background-color: #CFE1F3;
  border-radius: 50%;
}

.badge-status-finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0F69C4;
  color: #FFF;
  padding: 4px 8px 4px 8px;
  border: 2px solid #0F69C4;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 32px;
  margin: 2px 2px 2px 2px;
}

.badge-status-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #334967;
  color: #FFF;
  padding: 4px 8px 4px 8px;
  border: 2px solid #334967;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 32px;
  margin: 2px 2px 2px 2px;
}

.badge-status-study {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #CFE1F3;
  color: #373737;
  padding: 4px 8px 4px 8px;
  border: 2px solid #CFE1F3;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 32px;
  margin: 2px 2px 2px 2px;
}

.badge-status-pending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #BBBBBB;
  color: #373737;
  padding: 4px 8px 4px 8px;
  border: 2px solid #BBBBBB;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 32px;
  margin: 2px 2px 2px 2px;
}

.badge-status-pending-lg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #656565;
  color: #FFF;
  padding: 4px 8px 4px 8px;
  border: 2px solid #656565;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 32px;
  margin: 2px 2px 2px 2px;
  font-size: 20px;
  padding: 8px 15px 8px 15px;
}

.badge-status-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F56B0F;
  color: #FFF;
  padding: 4px 8px 4px 8px;
  border: 2px solid #F56B0F;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 32px;
  margin: 2px 2px 2px 2px;
}

.badge-status-red {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #871a1a;
  color: #FFF;
  padding: 4px 8px 4px 8px;
  border: 2px solid #871a1a;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 32px;
  margin: 2px 2px 2px 2px;
}

.badge-status-green {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #006636;
  color: #FFF;
  padding: 4px 8px 4px 8px;
  border: 2px solid #006636;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 32px;
  margin: 2px 2px 2px 2px;
}

.badge-status-borderRed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFF;
  color: #871a1a;
  padding: 4px 8px 4px 8px;
  border: 2px solid #871a1a;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 32px;
  margin: 2px 2px 2px 2px;
}

.badge-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #CFE1F3;
  color: #0F69C4;
  padding: 4px 8px 4px 8px;
  border: 2px solid #CFE1F3;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 32px;
  margin: 2px 2px 2px 2px;
}

.badge-percent {
  background: #F2F4F8;
  color: #21272A;
  border-radius: 15px;
  text-align: center;
}

.badge-percent-b {
  background: #697077;
  color: #FFF;
  border-radius: 15px;
  text-align: center;
}

.badge-info-expandibles {
  background: #334967;
  height: 26px;
  color: #FFF;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 4px 8px 4px 8px;
}

.input-success {
  border: 2px solid #006636;
}

.subrayado {
  background-color: #CFE1F3;
  min-height: 40px;
  padding-top: 8px;
  height: auto;
}

.subrayado-gris {
  background-color: #EEEEEE;
  height: 80px;
  padding-top: 8px;
}

.border-gris {
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  color: #656565;
  background-color: #FFF;
}

.message-container {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.message {
  background-color: #CFE1F3;
  color: #0F69C4;
  border: 1px solid #9FC3E7;
  border-radius: 4px;
}

.message-container-favorable {
  background-color: #E3F4ED;
  color: #006636;
}

.message-container-parcial {
  background-color: #FFF3EB;
  color: #F56B0F;
}

.message-container-desfavorable {
  background-color: #F9D5D5;
  color: #871a1a;
}

.rdl-filter, .rdl-control {
  font-size: 18px !important;
  padding: 8px 6px;
}

.react-dual-listbox button, .react-dual-listbox select {
  font-family: inherit;
  line-height: 1.42857;
  color: #006FB3;
}

.rdl-actions {
  flex-direction: column;
  align-self: flex-end;
  width: 260px !important;
  margin: 0 10px;
}

.rdl-btn {
  padding: 5px 5px;
  margin: 0 3px;
  font-size: 16px !important;
  color: #006FB3;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.rdl-icon, .rdl-icon {
  font-family: sans-serif;
  font-weight: 900;
}

.react-dual-listbox select option:checked:focus {
  background-color: #0F69C4;
  color: #FFF;
}

.react-dual-listbox select option:checked:active {
  background-color: #0F69C4;
  color: #FFF;
}

.react-dual-listbox select option:checked:hover {
  background-color: #0F69C4;
  color: #FFF;
}

.react-dual-listbox select option:checked {
  background-color: #0F69C4;
  color: #FFF;
}

.blue-border-top {
  border-top: 1px solid #9FC3E7;
}

.wrapper {
  display: flex;
  justify-content: start;
  margin: 1rem;
}

.stepper {
  list-style-type: none;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.stepper .stepperItem {
  position: relative;
  margin-bottom: 20px;
}
.stepper .stepperItem:last-child {
  margin-bottom: 0;
}
.stepper .stepperItem.next-step::before {
  background-color: #006FB3;
  border: none;
}
.stepper .stepperItem.next-step .stepIndex, .stepper .stepperItem.next-step i.material-symbols-outlined {
  color: #FFF;
}
.stepper .stepperItem.last-completed::after {
  background-color: #006FB3;
}
.stepper .stepperItem.completed + .next-step::after {
  background-color: #006FB3;
}
.stepper .stepperItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #BBBBBB;
  text-align: center;
  line-height: 48px;
  color: #373737;
  border: 4px solid #656565;
}
.stepper .stepperItem .stepIndex {
  position: absolute;
  top: 0;
  left: -20px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
}
.stepper .stepperItem::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #656565;
}
.stepper .stepperItem i.material-symbols-outlined {
  position: absolute;
  top: 0;
  left: -15px;
  z-index: 2;
  color: #FFF;
  font-size: 38px;
  line-height: 48px;
}
.stepper .stepperItem.completed::before {
  background-color: #006FB3;
  border: none;
}
.stepper .stepperItem.last-child::after {
  content: "";
  position: absolute;
  top: 48px;
  left: 2px;
  height: 4px;
  width: 24px;
  background-color: #656565;
}
.stepper .stepper-line-end {
  position: absolute;
  bottom: -4px;
  left: 15px;
  width: 24px;
  border-top: 4px solid #656565;
}

.stepperContent {
  padding-left: 40px;
}

.stepper-pasos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.stepper-pasos .step {
  position: relative;
  text-align: center;
  width: 50%;
}
.stepper-pasos .step .step-text {
  margin-top: 20px;
  color: #373737;
  font-size: 16px;
  text-align: start;
  font-weight: 400;
  width: 130px;
}
.stepper-pasos .step:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 15.3333333333px;
  right: 102%;
  width: 80%;
  height: 2px;
  background-color: #0F69C4;
  z-index: -1;
}
.stepper-pasos .step .step-button {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.stepper-pasos .step .step-button.default {
  background-color: #FFF;
  color: #0F69C4;
  border: 4px solid #0F69C4;
}
.stepper-pasos .step .step-button.active {
  background-color: #0F69C4;
  color: #FFF;
  border: #0F69C4;
}
.stepper-pasos .step .step-button.done {
  background-color: #0F69C4;
  color: #FFF;
  border: #0F69C4;
}
.stepper-pasos .step .step-button.warning {
  background-color: rgb(249, 213, 213);
  color: #871a1a;
  border: 2px solid #871a1a;
}
.stepper-pasos .step .step-button.disabled {
  background-color: #d3d3d3;
  color: #a9a9a9;
  border: 2px solid #bababa;
  cursor: not-allowed;
}

.mono-stepper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.stepper-circle {
  font-size: 20px;
  font-weight: 700;
  width: 48px;
  height: 48px;
  background-color: #0F69C4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.vertical-line {
  width: 4px;
  height: 100vh;
  background-color: #0F69C4;
  position: absolute;
  top: 78%;
  bottom: 10%;
  left: 23, 5%;
}

/* Grafico
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-skills {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills *,
.chart-skills::before {
  box-sizing: border-box;
}

.chart-skills::before,
.chart-skills::after {
  position: absolute;
}

/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-skills {
  position: relative;
  width: 350px;
  height: 175px;
  overflow: hidden;
}

.chart-text {
  display: block;
  position: absolute;
  z-index: 4;
  margin-left: 105px;
  margin-top: 105px;
  text-align: center;
}

.chart-skills::before {
  content: "";
  width: inherit;
  height: inherit;
  border-bottom: none;
  border: 45px solid #CFE1F3;
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 45px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

.chart-skills li:nth-child(1) {
  z-index: 4;
  border-color: #0F69C4;
  animation-name: rotate-one;
}

.chart-skills li:nth-child(2) {
  z-index: 3;
  border-color: #0F69C4;
  animation-name: rotate-two;
  animation-delay: 0.4s;
}

.chart-skills li:nth-child(3) {
  z-index: 2;
  border-color: #0F69C4;
  animation-name: rotate-three;
  animation-delay: 0.8s;
}

.chart-skills li:nth-child(4) {
  z-index: 1;
  border-color: #0F69C4;
  animation-name: rotate-four;
  animation-delay: 1.2s;
}

.chart-skills li:nth-child(5) {
  z-index: 0;
  border-color: #0F69C4;
  animation-name: rotate-five;
  animation-delay: 1.2s;
}

.chart-skills span {
  position: absolute;
  font-size: 0.85rem;
  backface-visibility: hidden;
  animation: fade-in 0.4s linear forwards;
}

.chart-skills li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-37.8deg);
}

.chart-skills li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-72deg);
  animation-delay: 0.4s;
}

.chart-skills li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-108deg);
  animation-delay: 0.8s;
}

.chart-skills li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-144deg);
  animation-delay: 1.2s;
}

.chart-skills li:nth-child(5) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@keyframes rotate-one {
  100% {
    transform: rotate(37.8deg);
    /**
     * 12% => 21.6deg
     */
  }
}
@keyframes rotate-two {
  0% {
    transform: rotate(37.8deg);
  }
  100% {
    transform: rotate(72deg);
    /**
     * 32% => 57.6deg 
     * 57.6 + 21.6 => 79.2deg
     */
  }
}
@keyframes rotate-three {
  0% {
    transform: rotate(72deg);
  }
  100% {
    transform: rotate(108deg);
    /**
     * 34% => 61.2deg 
     * 61.2 + 79.2 => 140.4deg
     */
  }
}
@keyframes rotate-four {
  0% {
    transform: rotate(108deg);
  }
  100% {
    transform: rotate(144deg);
    /**
     * 22% => 39.6deg  
     * 140.4 + 39.6 => 180deg
     */
  }
}
@keyframes rotate-five {
  0% {
    transform: rotate(144deg);
  }
  100% {
    transform: rotate(180deg);
    /**
     * 22% => 39.6deg  
     * 140.4 + 39.6 => 180deg
     */
  }
}
@keyframes fade-in {
  0%, 90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text-grafico {
  display: flex;
  justify-content: center;
  margin-top: 155px;
}

.chart-numbers {
  font-family: "Roboto";
  color: #001C41;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 1400px) {
  .chart-skills {
    width: 245px;
    height: 122.5px;
  }
  .chart-text {
    margin-left: 57px;
    margin-top: 63px;
  }
  .chart-numbers {
    font-size: 25px;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal.open {
  display: flex;
}

.modal-content {
  background: #FFF;
  border: 1px solid #0F69C4;
  border-radius: 0;
  max-width: 800px;
  padding: 28px 0px;
}

a.btn-link-fit {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  height: 48px;
  color: #0F69C4;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  text-decoration: none;
}
a.btn-link-fit:hover, a.btn-link-fit:focus {
  color: #093F75;
  background-color: #CFE1F3;
}

.blue-border {
  border: 2px solid #0F69C4;
}/*# sourceMappingURL=styles.css.map */